<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista Personalizada
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-input [(ngModel)]="filtro" placeholder="Introduce los datos del filtro">

  </ion-input>
  <ion-grid>
    <ion-row>
      <ng-container *ngFor="let user of users | async">
        <ion-col *ngIf="filtro=='' ||  user.nombre.toLowerCase().startsWith(filtro.toLowerCase())" size-xl="2" size-lg="2" size-md="4" size-sm="6" size-xs="12">
          <ion-card>
            <ion-card-content>
              <ion-chip>
                <ion-label class="vertical">{{ user.nombre }} {{ user.apellidos }}</ion-label>
              </ion-chip>
              <ion-icon *ngIf = "user.genero == 'Male'" name="man-outline" color = "primary"></ion-icon>
              <ion-icon *ngIf = "user.genero == 'Female'" name="woman-outline" color = "danger"></ion-icon>
              <br>
              <br>
              <ion-label>DNI: {{ user.dni}}</ion-label>
              <br>
              <br>
              <ion-label class="horizontal">Nacionalidad: {{ user.idioma}}</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
    </ng-container>
    </ion-row>
  </ion-grid>
</ion-content>
